/* src/components/AdminNavBar.css */

/* Remove border from the content and adjust the styles */
.content {
  padding: 20px; /* Maintain padding for inner spacing */
  flex: 10; /* Take remaining space */
  margin-left: 0; /* Remove left margin to align with the navbar */
  background-color: white; /* Optional: Add a light background color */
}

/* Navbar Styles */
.admin-navbar {
  background-color: var(--main-bg-color);
  padding: 0; /* Remove padding to fit tightly */
  border-bottom: 2px solid #ccc;  
  margin: 0;
  margin-top: 100px; /* This creates space above the navbar */
  z-index: 100; /* Ensure it’s above other content */
  height: 30px;
  width: 100%; /* Reduced height for a slimmer navbar */
}

/* Ensure the app flex container takes the full width */
.app {
  display: flex; /* Use flexbox for layout */
  position: relative;
  margin-top: 28px; /* Space below the navbar */
  width: 100%; /* Full width to fill the container */
}

.navbar {
  margin-right: 0px;
  position: absolute;
}

.nav-link-admin .nav-link {
  color: black !important; /* Set text color to black */
  text-decoration: none; /* Remove default underline */
  position: relative; /* For positioning the underline */
}

.nav-link-admin .nav-link:hover,
.nav-link-admin .nav-link:focus {
  color: #0056b3 !important; /* Optional: Change color on hover */
}


.sidebar {
  width: 250px;
  background-color: white;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
}

.sidebar li {
  cursor: pointer;
  margin: 3;
  padding: 5px;
  transition: background 0.2s;
}

.sidebar li:hover {
  background: #cecae3;
}
