/* src/SideBar.css */
.sidebar-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: var(--main-bg-color);
    padding: 5px;
    transition: width 0.3s ease;
    overflow: hidden; /* Prevent content overflow */
  }
  
  .sidebar.expanded {
    width: 200px; /* Width when expanded */
  }
  
  .sidebar.collapsed {
    width: 10px; /* Width when collapsed */
  }
  
  .toggle-icon {
    cursor: pointer;
    margin-bottom: 20px;
    text-align: left; /* Center the icon */
    font-size: 2rem; /* Increase size for visibility */
  }
  
  .sidebar-items {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-item {
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #dddddd; /* Highlight on hover */
  }
  
  .sidebar-item.active {
    background-color: #8cb0d8; /* Active item background */
  }
  
  .main-content {
    flex-grow: 1;
    padding: 25px;
    background-color: #fff;
  }
  